th.tablehead{
    font-size:20px;
}
.carousel {
    width: 80%;
}

.carousel-item img {
    width: 60%;
    height: 500px; /* высота изображения */
    object-fit: cover;
}
img{
    width: 20%;
    height: 40px;
}

